requests==2.25.1
pymongo==3.11.3
wikipedia==1.4.0
fuzzywuzzy==0.18.0
asyncpg==0.21.0
imdbpie==5.6.4
letterboxd==0.3.0
aiohttp==3.6.3
discord_ext_menus==1.0.0a29+g4429b56
motor==2.4.0
parsel==1.6.0
markdownify==0.6.3
beautifulsoup4==4.9.3
discord==1.0.1
IMDbPY==2021.4.18
secrets==1.0.2
